body 
{
   background-color: rgba(192,192,192,0.4);
}
#container{
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
}
h4
{
	font-size: 3em;
}
.navbar li
{
	font-size: 1.5em;
}
.navbar-brand
{
	font-size: 1.7em;
}
.navbar li:last-child
{
	margin-right: 30px;
}
.formulaire
{
	background: rgba(192,192,192,0.4);
	border: 0.2px solid black;
	text-align: center;
	box-shadow: 1px 1px 6px #555;
}
.formulaire legend
{
	background: rgba(192,192,192,0.7);
}
#Userformulaire
{
   margin-top: 15%;
}
th,td
{
	text-align: center;
}
.thNom, .thStatut, .thISBN, .thMail, .thTelephone, .thAssoc
{
	width: 150px;
}
.thMatiere, .thAdresse
{
	width: 200px;
}
.erreurForm
{
	color: rgba(216,0,0,0.75);
	text-align: center;
	width: 180px;
	border-bottom: 1px solid #C0C0C0;
	margin-bottom: 10px;
}
.labelForm
{
	color : red;
}
.champsForm
{
	text-align: center;
}
.dropdown-menu>li>a{
	text-align: left;
}



/***
*	PROGRESS BAR
*/
#barreProgress
{
	padding: 0px;
	width: 1000px;
	margin: 0 auto;
	box-shadow: 1px 1px 12px #555;
	background: rgba(0,0,0,0);
}

	#barreProgress li
	{
		overflow: hidden;
		margin: -2px;
		border-right: 1px solid black;
		text-align: center;
	}
	#barreProgress li:first-child
	{
		margin-left : 1px;
	}
	#barreProgress li:last-child
	{
		border-right: 0px;
	}
	#barreProgress span
	{
		font-size: 1.5em;
		font-weight: bold;
	}

.step-2 li
{
	width: 50%;
}
.step-3 li
{
	width: 33%;
}
.step-4 li
{
	width: 25%;
}
.step-5 li
{
	width: 20%;
}
.etape
{
	display: inline-block;
	vertical-align: top;
	color : black;
	cursor: pointer;
	background: linear-gradient( #eee, #fff);		
}
	.etape:hover 
	{
		color : rgba(0,0,0,0.6);
		background: linear-gradient( to top, #ccc, #eee);
	}
	.etape h1
	{
		font-size: 1.1em;
		display: inline;
	}
.page
{
	visibility: hidden;
	display: inline-block;
	vertical-align: top;
	width: 1000px;
	height: 600px;
	margin-left: -2000px;
	margin-top: 10px;
	box-shadow: 1px 1px 12px #555;
	background: rgba(255,255,255,1);
}
#btnGroup
{
	width: 1000px;
	margin: auto;
	margin-top: 10px;
}
#btnPred
{
	margin-left: 30px;
}
#btnSuiv
{
	margin-left: 790px;
}
.focus
{
	color : #0088DD;
	background: linear-gradient( to top, #444, #222);
}
	.focus:hover
	{
		color : #0099CC;
		background: linear-gradient( to top, #333, #222);
	}
.pageVisible
{
	visibility: visible;
}